.PbiDevTitle{
    color: #808080;
    font-size: 16px;
    text-align: right;
}
  
.PbiDevDebugInfo{
    font-size: 14px;
    padding: 8px;
    white-space:nowrap;
}

.PbiDevDebugPair{
    padding-bottom: 8px;
}

.PbiDevContainer{
    width: 425px !important;
    display: block;
}

.PbiDevDebugResult{
    float: right;
}

.PbiDevCenter{
    text-align: center;
}

.PbiDevButton{
    background-color: lightgray;
}

.PbiDevCopy{
    padding-left: 4px;
    vertical-align: middle;
    cursor: pointer;
}