.PbiDevTitle{
    color: #808080;
    font-size: 16px;
    text-align: right;
    margin: 8px 0px;
}
  
.PbiDevDebugInfo{
    font-size: 14px;
    padding-bottom: 8px;
    white-space:nowrap;
}

.PbiDevDebugPair{
    padding-bottom: 8px;
    overflow: auto;
}

.PbiDevContainer{
    background-color: #eaeaea;
    display: block;
    padding: 8px;
    width: 425px !important;
}

.PbiDevCategory{
    background-color: #f3f2f1;
    padding: 2px;
}

.PbiDevScrollContainer{
    padding: 0px 16px;
}

.PbiDevNavButton{
    margin: 0px;
    padding: 0px 8px;
}

.PbiDevDependsOnAuthorization{
    opacity: 0.6;
    pointer-events: none;
}

.PbiDevSessionIndicator{
    border-left: 2px solid #00aa00;
}

.PbiDevCategoryTitle{
    font-size: 16px;
}

.PbiDevDebugResult{
    float: right;
}

.PbiDevTextArea{
    display: block;
    width: 80%;
    margin: 0px auto 8px auto;
}

.PbiDevCenter{
    text-align: center;
}

.PbiDevButton{
    background-color: lightgray;
}

.PbiDevCopy{
    padding-left: 4px;
    vertical-align: middle;
    cursor: pointer;
}

.PbiDevInfo{
    padding-left: 4px;
    vertical-align: middle;
    cursor: pointer;
}

.PbiDevInfoTooltip{
    white-space: normal;
    text-align: left;
    font-size: 12px;
}