.PbiDevTitle{
    color: #808080;
    font-size: 16px;
    margin: 0px;
    float: right;
    font-weight: bold;
}

.PbiDevLightImage{
    float: left;
    margin: 4px;
    vertical-align: middle;
    cursor: pointer;
}

.PbiDevSubtitle{
    color: #808080;
    font-size: 12px;
    margin: 0px;
    text-align: right;
}
  
.PbiDevDebugInfo{
    font-size: 14px;
    padding-bottom: 8px;
    white-space:nowrap;
}

.PbiDevDebugPair{
    padding-bottom: 8px;
    overflow: auto;
}

.PbiDevContainer{
    background-color: #eaeaea;
    display: block;
    padding: 8px;
    width: 425px !important;
}

.PbiDevContainerDark{
    background-color: #31302f !important;
    color: #faf9ec !important;
}

.PbiDevCategoryDark{
    background-color: #3b3a39 !important;
}

.PbiDevCategory{
    background-color: #f3f2f1;
    padding: 2px;
}

.PbiDevScrollContainer{
    padding: 0px 16px;
}

.PbiDevNavButton{
    margin: 0px;
    padding: 0px 8px;
}

.PbiDevDependsOnAuthorization{
    opacity: 0.6;
    pointer-events: none;
}

.PbiDevSessionIndicator{
    border-left: 2px solid #00aa00;
}

.PbiDevCategoryTitle{
    font-size: 16px;
}

.PbiDevDebugResult{
    float: right;
}

.PbiDevDebugPairOverflow{
    padding-bottom: 4px;
}

.PbiDevDebugResultContainerOverflow{
    display: block;
    overflow: hidden;
    float: none;
    padding-left: 16px;
}

.PbiDevDebugResultOverflow{
    background-color: #f3f2f1;
    border: none;
    height: 28px;
    float: right;
    text-align: right;
    white-space: nowrap;
    width: 100%;
}

.PbiDevDebugPairLeftOverflow{
    float: left;
}

.PbiDevInput{
    max-width: 32px;
}

.PbiDevTextArea{
    display: block;
    width: 80%;
    margin: 0px auto 8px auto;
}

.PbiDevPerfScreenBlock{
    position: fixed;
    background-color: rgb(0,0,0,0.4);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.PbiDevPerfPrompt{
    background-color: #f3f2f1;
    width: 25%;
    height: 15%;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: #7f7f7f;
}

.PbiDevCenter{
    text-align: center;
}

.PbiDevButton{
    background-color: lightgray;
}

.PbiDevCopy{
    padding-left: 4px;
    vertical-align: middle;
    cursor: pointer;
}

.PbiDevInfo{
    padding-left: 4px;
    vertical-align: middle;
    cursor: pointer;
}

.PbiDevInfoTooltip{
    white-space: normal;
    text-align: left;
    font-size: 12px;
}